body{
    max-width: 1024px;
    max-height: 768px;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%; 
    background-color: rgba(216,211,192,50%) ;
 }
 h1{
    text-align: center;
    align-items: center;
    font-size: 40px;
 }
 img{
    float: right;
    border-radius: 100%;
 }
  .button{
    background-color: rgb(216,211,192);
    border: none;
    border-radius: 12px;
    font-size: 16px;
    padding: 10px 60px;
    color: black;
    
  }
  .button1:hover{
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  a{
    text-decoration: none;
  }
  .Link{
    color: rgb(104, 98, 98);
    font-size: 20px;
  }
  .Link1:hover{
    color: rgb(0, 0, 0);
  }
  ul{
    color: rgb(104, 98, 98);
  }
  h3{
    font-size: 25px;
  }