#websiteButton {
    border-radius: 10px; /* Fügt runde Ecken hinzu */
    padding: 10px; /* Fügt Innenabstand hinzu */
    cursor: pointer; /* Ändert den Mauszeiger beim Überfahren des Buttons */
  }
  
  #websiteButton:hover {
    background-color: #555; /* Ändert die Hintergrundfarbe beim Überfahren mit der Maus */
  }

  #blueplane {
    border-radius: 15px;
    color: powderblue;
  }