#websiteButton {
    border-radius: 10px !important ; /* Fügt runde Ecken hinzu */
    padding: 10pxb!important; /* Fügt Innenabstand hinzu */
    cursor: pointer !important; /* Ändert den Mauszeiger beim Überfahren des Buttons */
  }
  
  #websiteButton:hover {
    background-color: #555 !important; /* Ändert die Hintergrundfarbe beim Überfahren mit der Maus */
  }



    @font-face {
      font-family: 'PlayfairDisplay';
      src: url('./PlayfairDisplay-VariableFont_wght.woff') ;
  }
  
  #textWo{
    font-family: "PlayfairDisplay" !important; 
  }